<section class="home-section" id="home">
    <div class="container">
        <div class="home-label">
<p>Follow the <span class="span">Rhythm Within.</span></p>
        </div>
        <h1 class="home-title">Breathing Paths.<br/>The journey begins within.</h1>
        <p class="home-text">Every path begins with a breath. Sync your movement with a natural rhythm to find focus and tranquility. Slow down and
        let the gentle wind guide your way.</p>
    </div>
</section>
<section class="idea-section" id="idea">
    <div class="container idea-container">
        <div class="label idea-label">
            <p>Interaction through <span class="span">rhythm</span> </p>
        </div>
        <h2>Game Idea</h2>
        <p class="idea-text">Calmfield: Breathing Paths transforms simple puzzle mechanics into a mindful activity. Players don’t rush — they move in
        sync with a slow rhythm that mirrors natural breathing. It's pretty cool how staying focused and calm actually makes you
        better at the game - like, the more zen you are, the better you play.</p>
    </div>
</section>