body{
  font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.36;
    text-align: center;
    color: #20232a;
}
.label{
  font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    color: #20232a;
    background: #f3f3f3;
    border-radius: 8px;
      padding: 8px 16px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.span{
  color: #c86a51;
}
h2{
  font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.14;
    text-align: center;
    color: #20232a;
    margin-bottom: 24px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
  h2{
    font-size: 52px;
    margin-bottom: 32px;
  }
}